body {
  font-family: 'Courier New', monospace;
  background-color: #fdfdfd;
  color: #111;
  margin: 40px;
}

nav {
  text-align: center;
  margin-bottom: 20px;
}

nav a {
  color: #111;
  text-decoration: none;
  margin: 0 8px;
}

nav a:hover {
  text-decoration: underline;
}

hr {
  border: none;
  border-top: 1px solid #aaa;
}

main {
  max-width: 800px;
  margin: auto;
  text-align: center;
}
.portada {
    display: flex;
    justify-content: flex-start; /* mueve la imagen al lado izquierdo */
    align-items: center;         /* mantiene la imagen centrada verticalmente */
    height: 100vh;
}

.portada img {
    max-width: 120%;
    height: auto;
    object-fit: cover;
}
